.content {
    padding: 20px;
    h2 {
        text-transform: uppercase;
        color: $primary-color;
        font-size: 1em;
        margin-bottom: 0.8em;
        text-align: center;
        margin-top: 30px;
    }
}

.separator {
    margin-left: 60px;
    width: 70%;
    border: 1px solid $primary-color;
}

.contactInfo {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    h3 {
        font-weight: bold;
        color: royalblue;
        margin-right: 20px;
        margin-top: 50px;
    }
    img {
        width: 30px;
        height: 30px;
        margin-top: 60px;
    }
}

#contact-form {
    background-color: $primary-color-four;
    height: 580px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    label {
        font: Arial;
        font-weight: bold;
        color: $primary-color;
        font-size: 20px;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }
    input {
        border: none;
        background-color: $primary-color-four;
        border-bottom: 2px solid black;
        margin-bottom: 10px;
        height: 10px;
    }
}

input[type=text],
input[type=email],
textarea {
    padding: 0.6em;
    color: #333;
    border-radius: 4px;
    width: 250px;
    margin-left: 30px;
}

#message {
    border: 2px solid black;
    margin-top: 10px;
}

.submit-wrapper {
    width: 100px;
    display: inline-block;
    margin-top: 2em;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    background-color: #78abeb;
    margin-left: 30px;
    cursor: pointer;
    font-size: 1.2em;
    color: white;
    margin-bottom: 20px;
    &:hover {
        background-color: #5588c8
    }
    span {
        padding-right: 0.5em;
    }
}

#box {
    display: block;
    padding: 0.6em;
    color: #333;
    border-radius: 4px;
    width: 270px;
    border: 2px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 30px;
}

.form-group {
    margin-top: 20px;
}

@media screen and (min-width: 650px) {
    .content h2 {
        font-size: 30px;
    }
    .separator {
        margin-left: 40px;
        width: 90%;
        border: 1px solid $primary-color;
    }
    .contactInfo {
        margin-left: 450px;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-top: 90px;
        h3 {
            font-weight: bold;
            color: royalblue;
        }
        img {
            width: 50px;
            height: 50px;
            margin-top: 60px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .content {
        padding: 20px;
        h2 {
            text-transform: uppercase;
            color: $primary-color;
            font-size: 2em;
            margin-bottom: 0.8em;
            text-align: center;
            margin-top: 30px;
        }
        hr {
            width: 70%;
            border: 1px solid $primary-color;
        }
        p {
            max-width: 75%;
        }
    }
    .separator {
        margin-left: 80px;
    }
    .contactInfo {
        margin-left: 650px;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-top: 90px;
        h3 {
            font-weight: bold;
            color: royalblue;
        }
        img {
            width: 50px;
            height: 50px;
            margin-top: 60px;
        }
    }
    #contact-form {
        background-color: $primary-color-four;
        height: 580px;
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-left: 200px;
        label {
            font: Arial;
            font-weight: bold;
            color: $primary-color;
            font-size: 20px;
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            margin-left: 30px;
        }
        input {
            border: none;
            background-color: $primary-color-four;
            border-bottom: 2px solid black;
            margin-bottom: 10px;
            height: 10px;
        }
    }
    input[type=text],
    input[type=email],
    textarea {
        padding: 0.6em;
        color: #333;
        border-radius: 4px;
        width: 250px;
        margin-left: 30px;
    }
    #message {
        border: 2px solid black;
        margin-top: 10px;
    }
    .submit-wrapper {
        width: 100px;
        display: inline-block;
        border-radius: 0.5rem;
        background-color: #78abeb;
        margin-left: 33px;
        cursor: pointer;
        font-size: 1.2em;
        color: white;
        margin-bottom: 30px;
        &:hover {
            background-color: #5588c8
        }
        span {
            padding-right: 0.5em;
        }
    }
    #box {
        display: block;
        padding: 0.6em;
        color: #333;
        border-radius: 4px;
        width: 270px;
        border: 2px solid black;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 30px;
    }
    .form-group {
        margin-left: 730px;
        margin-top: 20px;
    }
}