#siteContainer {
    margin: 0 auto;
}

#logo {
    img {
        width: 40px;
        margin-left: 20px;
        margin-top: 12px;
    }
}

#mainHeader {
    background-color: #191919;
    height: 70px;
    opacity: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.current {
    color: #c19d5e;
    font-weight: bold;
}

.nav_ul {
    display: none;
    width: 100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .7);
    width: 100px;
    height: 130px;
    margin-right: 16px;
}

.nav_ul.show {
    display: flex;
}

.hamMenu {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.hamMenu :focus {
    outline: none;
}

#mainNav {
    text-transform: uppercase;
    margin-left: auto;
    margin-top: 24px;
    flex-wrap: wrap;
    ul {
        list-style-type: none;
        li {
            display: inline;
            cursor: pointer;
            padding-bottom: 19px;
            margin-top: 10px;
            margin-left: 17px;
            a {
                color: #cf9068;
                font-size: 11px;
                text-decoration: none;
                &:hover {
                    color: #d6c19c;
                }
            }
        }
    }
}


/* Header End here */

.Button {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    a {
        border: 0;
        background: white;
        color: #cf9068;
        cursor: pointer;
        transition: 0.5s;
        border: 3px solid #d4933f;
        padding: 12px;
    }
    &:hover {
        background: #cf9068;
        color: white;
    }
}

#copyRight h3 {
    display: flex;
    justify-content: center;
    background-color: #363636;
    color: #f0cda8;
    padding: 20px;
}

.littleBox {
    background-color: #a1a1a1;
    height: 4px;
    margin-top: 50px;
}

@media screen and (min-width:650px) {
    #logo {
        img {
            width: 90px;
            margin-left: 20px;
            margin-top: 12px;
        }
    }
    #mainHeader {
        background-color: #191919;
        height: 130px;
        opacity: 80%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .hamMenu {
        background-color: transparent;
        border: 0;
        color: #fff;
        font-size: 35px;
        cursor: pointer;
        margin-right: 20px;
        margin-top: 20px;
    }
    .nav_ul {
        width: 100%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .7);
        width: 190px;
        height: 230px;
    }
    #mainNav {
        ul {
            li {
                display: inline;
                cursor: pointer;
                padding-bottom: 19px;
                margin-top: 30px;
                margin-left: 47px;
                a {
                    color: #cf9068;
                    font-size: 21px;
                    text-decoration: none;
                    &:hover {
                        color: #d6c19c;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1024px) {
    #siteContainer {
        margin: 0 auto;
        max-width: 1200px;
    }
    #logo img {
        width: 100px;
        margin-left: 40px;
        margin-top: 16px;
    }
    #mainHeader {
        background-color: #191919;
        width: 100%;
        height: 150px;
        opacity: 80%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    #mainNav ul li a:hover {
        color: #d6c19c;
    }
    .current {
        color: #c19d5e;
        font-weight: bold;
    }
    #mainNav {
        text-transform: uppercase;
        margin-left: auto;
        margin-top: 66px;
    }
    #mainNav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    #mainNav ul li {
        display: inline;
        cursor: pointer;
        margin-right: 100px;
    }
    #mainNav ul li a {
        color: #cf9068;
        font-size: 21px;
        text-decoration: none;
    }
    .nav_ul {
        display: inline;
        background-color: transparent;
    }
    .hamMenu {
        display: none;
    }
    /* Header End here */
    .Button {
        margin-top: 220px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 110px;
        margin-left: 560px;
        margin-bottom: 25px;
    }
    .Button a {
        border: 0;
        background: white;
        color: #cf9068;
        cursor: pointer;
        transition: 0.5s;
        border: 3px solid #d4933f;
        padding: 12px;
    }
    .Button a:hover {
        background: #cf9068;
        color: white;
    }
    #copyRight h3 {
        display: flex;
        justify-content: center;
        background-color: #363636;
        color: #f0cda8;
        padding: 20px;
    }
    .littleBox {
        background-color: #a1a1a1;
        height: 4px;
        margin-top: 50px;
    }
    .Resume_Link {
        a {
            margin-left: 540px;
            margin-top: 50px;
        }
    }
    .Social_direct {
        ul {
            width: 300px;
            display: flex;
            flex-direction: row;
            margin-left: 485px;
            margin-top: 30px;
            a {
                padding-left: 50px;
            }
        }
    }
}